.hide{
    display: none;
}

button {
    margin: 5px;
    border: none;
    background-color: black;
    color: white;
    padding: 25px;
    border-radius: 30px;
}

button:hover {
    background-color: yellow;
    color: black;
}
